<div class="contact-section">
  <div class="container">
    <div class="contact-section-wrap">
      <h2 class="contact-section-wrap__title">{{ i18n "contact_title" }}</h2>
      <div class="contact-section-wrap__content">
        <form name="contact" netlify method="POST" data-netlify="true" class="contact-form">
          <input type="hidden" name="form-name" value="contact">
          <div class="form-row">
            <input type="text" name="first-name" placeholder="{{ i18n "contact_first_name" }}" required>
            <input type="text" name="last-name" placeholder="{{ i18n "contact_last_name" }}" required>
          </div>
          <input type="email" name="email" placeholder="{{ i18n "contact_email" }}" required>
          <textarea name="message" placeholder="{{ i18n "contact_message" }}"></textarea>
          <button type="submit">{{ i18n "contact_submit" }}</button>
        </form>
        <div class="contact-info">
          <div class="contact-info__details">
            {{ i18n "contact_address" | safeHTML }}
          </div>
          <iframe
            class="contact-info__map"
            width="100%"
            style="border-radius:16px; border:0;"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps?q=DarMisk+Grill,+199+Lisburn+Rd,+Belfast&output=embed">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>