<div class="contact-section">
  <div class="container">
    <div class="contact-section-wrap">
      <h2 class="contact-section-wrap__title">Contact Us</h2>
      <div class="contact-section-wrap__content">
        <form name="contact" method="POST" data-netlify="true" class="contact-form">
          <input type="hidden" name="form-name" value="contact">
          <div class="form-row">
            <input type="text" name="first-name" placeholder="First name" required>
            <input type="text" name="last-name" placeholder="Last name" required>
          </div>
          <input type="email" name="email" placeholder="Email address" required>
          <textarea name="message" placeholder="Your message"></textarea>
          <button type="submit">Submit</button>
        </form>
        <div class="contact-info">
          <div class="contact-info__details">
            199 Lisburn Rd,<br>
            Belfast<br>
            BT9 7EJ<br>
            +44 7123 456 789
          </div>
          <iframe
            class="contact-info__map"
            width="100%"
            style="border-radius:16px; border:0;"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps?q=DarMisk+Grill,+199+Lisburn+Rd,+Belfast&output=embed">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>