<section class="home-features">
  <div class="container">
    <div class="home-features-wrap">
      <div class="home-feature">
        <div class="home-feature__icon"></div>
        <div class="home-feature__title">{{ i18n "feature_fresh_title" }}</div>
        <div class="home-feature__desc">{{ i18n "feature_fresh_desc" }}</div>
      </div>
      <div class="home-feature">
        <div class="home-feature__icon"></div>
        <div class="home-feature__title">{{ i18n "feature_family_title" }}</div>
        <div class="home-feature__desc">{{ i18n "feature_family_desc" }}</div>
      </div>
      <div class="home-feature">
        <div class="home-feature__icon"></div>
        <div class="home-feature__title">{{ i18n "feature_halal_title" }}</div>
        <div class="home-feature__desc">{{ i18n "feature_halal_desc" }}</div>
      </div>
    </div>
  </div>
</section>