<div class="opening-hours">
  <h2 class="opening-hours__title">{{ i18n "opening_hours_title" }}</h2>
  <div class="opening-hours__box">
    <div>
      <strong>{{ i18n "opening_hours_sun_tue" }}</strong><br>
      <span class="opening-hours__time">{{ i18n "opening_hours_sun_tue_time" }}</span>
    </div>
    <div style="margin-top: 16px;">
      <strong>{{ i18n "opening_hours_wed_sat" }}</strong><br>
      <span class="opening-hours__time">{{ i18n "opening_hours_wed_sat_time" }}</span>
    </div>
  </div>
</div>