<section class="reviews-section">
  <div class="container">
    <div class="reviews-section-wrap">
      <h2 class="reviews-section-wrap__title">{{ i18n "reviews_title" }}</h2>
      <div class="reviews-list">
        <div class="review-card">
          <div class="review-card__text">{{ i18n "review_1_text" }}</div>
          <div class="review-card__author">
            <div class="photo"></div>
            <div>
              <div class="review-card__name">{{ i18n "review_1_name" }}</div>
              <div class="review-card__desc">{{ i18n "review_1_desc" }}</div>
            </div>
          </div>
        </div>
        <div class="review-card">
          <div class="review-card__text">{{ i18n "review_2_text" }}</div>
          <div class="review-card__author">
            <div class="photo"></div>
            <div>
              <div class="review-card__name">{{ i18n "review_2_name" }}</div>
              <div class="review-card__desc">{{ i18n "review_2_desc" }}</div>
            </div>
          </div>
        </div>
        <div class="review-card">
          <div class="review-card__text">{{ i18n "review_3_text" }}</div>
          <div class="review-card__author">
            <div class="photo"></div>
            <div>
              <div class="review-card__name">{{ i18n "review_3_name" }}</div>
              <div class="review-card__desc">{{ i18n "review_3_desc" }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>